#select_batch_type {
    display: none !important;
}

table .batch_type {
    display: none !important;
}

.mrp_hidden {
    display: none !important;
}

.batch-hidden {
    display: none !important;
}
span.version1 {
    display: none !important;
}
