span.version2 {
    display: none !important;
}

#color-indicator span.isk i {
    color: #bbf7bb;
}

.uk-autocomplete li.isk,
.uk-table tr.isk {
    background-color: #e0fbe0 !important;
}

#color-indicator span.osk i {
    color: #f5e27b;
}

.uk-autocomplete li.osk,
.uk-table tr.osk {
    background-color: #f5edc1 !important;
}

#color-indicator span.export i {
    color: #f9c5c5;
}

.uk-autocomplete li.export,
.uk-table tr.export {
    background-color: #f3dddd !important;
}

#page_content_inner.common {
    margin-top:0px;
    background: url("/Assets/img/_Version1/erp-banner-astra-large.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
}

.countersales_type {
    display: none !important;
}
