html {
    overflow-y: scroll;
    color: #000;
}

    html.report -layout {
        overflow-y: hidden;
    }

.report -layout body {
    overflow-y: scroll;
}



.app_my_theme #color-indicator span {
    margin-left: 20px;
}

    .app_my_theme tr.next,
    .app_my_theme #color-indicator span.next i {
        color: blue;
    }

    .app_my_theme tr.approved,
    .app_my_theme #color-indicator span.approved i {
        color: green;
    }

    .app_my_theme tr.draft,
    .app_my_theme #color-indicator span.draft i {
        color: blue;
    }

    .app_my_theme tr.cancelled,
    .app_my_theme #color-indicator span.cancelled i {
        color: red;
    }

    .app_my_theme tr.suspended,
    .app_my_theme #color-indicator span.suspended i {
        color: orange;
    }

    .app_my_theme tr.ineligible,
    .app_my_theme #color-indicator span.ineligible i {
        color: red;
    }


    .app_my_theme tr.processed,
    .app_my_theme #color-indicator span.processed i {
        color: #797878;
    }

    .app_my_theme tr.approved,
    .app_my_theme #color-indicator span.approved i {
        color: green;
    }

    .app_my_theme tr.rejected,
    .app_my_theme #color-indicator span.rejected i {
        color: orange;
    }

    .app_my_theme tr.clarify,
    .app_my_theme #color-indicator span.clarify i {
        color: yellow;
    }

    .app_my_theme tr.Passed,
    .app_my_theme #color-indicator span.passed i {
        color: green;
    }

    .app_my_theme tr.Failed,
    .app_my_theme #color-indicator span.failed i {
        color: red;
    }

    .app_my_theme tr.Overruled,
    .app_my_theme #color-indicator span.overruled i {
        color: #ff8d00;
    }

     .app_my_theme tr.Discharged,
    .app_my_theme #color-indicator span.Discharged i {
        color: lightgreen;
    }

    .app_my_theme #color-indicator span.insufficient-stock i,
    .app_my_theme #color-indicator span.zero-quantity i,
    .app_my_theme tr.insufficient-stock,
    .app_my_theme tr.insufficient-stock input,
    .app_my_theme tr.quantity-0,
    .app_my_theme tr.quantity-0 input {
        color: red !important;
    }

    .app_my_theme #color-indicator span.insufficient-order-quantity i,
    .app_my_theme tr.qty-not-met,
    .app_my_theme tr.qty-not-met input,
    .app_my_theme tr.qty-not-met.offer-qty-not-met,
    .app_my_theme tr.qty-not-met.offer-qty-not-met input {
        color: maroon;
    }

    .app_my_theme #color-indicator span.insufficient-offer-quantity i,
    .app_my_theme tr.offer-qty-not-met,
    .app_my_theme tr.offer-qty-not-met input {
        color: chocolate;
    }


.app_my_theme .width-10 {
    width: 10px;
}

.app_my_theme .width-20 {
    width: 20px;
}

.app_my_theme .width-30 {
    width: 30px;
}

.app_my_theme .width-40 {
    width: 40px;
}

.app_my_theme .width-50 {
    width: 50px;
}

.app_my_theme .width-60 {
    width: 60px;
}

.app_my_theme .width-80 {
    width: 80px;
}

.app_my_theme .width-100 {
    width: 100px;
}


.app_my_theme .width-120 {
    width: 120px;
}

.app_my_theme .width-150 {
    width: 150px;
}

.app_my_theme .width-200 {
    width: 200px;
}

.app_my_theme .width-250 {
    width: 250px;
}

.uk-width-medium-1-8 {
    width: 12.5%;
}

.uk-width-medium-2-8 {
    width: 25%;
}

.app_my_theme #page_content_inner {
    padding: 0px !important;
}

.section-group {
    margin-bottom: 10px;
}

    .section-group:last-child {
        margin-bottom: 0px;
        width: 100%;
    }

#report-viewer {
    margin-left: 0px;
    width: 100%;
    overflow-x: auto;
}

    #report-viewer iframe {
        border: 1px solid #d9d9d9;
        padding: 12px 10px;
    }

.app_my_theme .panel {
    padding: 10px 0px 10px 0px;
    position: relative;
    margin-top: 20px;
    border-color: #d9d9d9;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
}

.panel > label {
    position: absolute;
    top: -20px;
    left: 0px;
}

.dataTable tbody tr {
    cursor: pointer;
}

#page_content_inner .md-card {
    box-shadow: none;
}

.app_my_theme .st-selected {
    background: #f2f2f2;
}

.app_my_theme .uk-modal-dialog {
    margin: 20px auto;
}

.app_my_theme .content-preloader {
    z-index: 1500;
}

.app_my_theme #preloader {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 1500;
    background: #FFFFFF; /*rgba(255, 255, 255, 1);*/
}

    .app_my_theme #preloader.transparent {
        background: rgba(255, 255, 255, 0.1);
    }

.app_my_theme .uk-autocomplete {
    position: relative;
}

    .app_my_theme .uk-autocomplete.uk-open .uk-dropdown {
        width: auto;
        min-width: 100%;
    }

    .app_my_theme .uk-autocomplete .uk-dropdown .uk-nav li {
        padding: 0px 5px 0px 10px;
        white-space: nowrap;
    }

.sidebar_slim_inactive #sidebar_main .menu_section {
    margin-top: 0px;
}

.section-group .uk-table td {
    padding: 4px !important;
}

.section-group .uk-table thead th,
.section-group .uk-table tfoot td,
.section-group .uk-table tfoot th {
    white-space: normal;
    padding: 4px 6px;
    font-size: 12px;
}

.login_page_wrapper {
    width: 360px;
    max-width: 100%;
    margin: 0 auto;
    -webkit-transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.login_page .user_avatar {
    width: 64px;
    height: 64px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    background-image: url("../img/avatars/user.png");
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.085);
    background-position: 50% 1px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 192), only screen and (min-resolution: 192dppx), only screen and (min-resolution: 2dppx) {
    .login_page .user_avatar {
        background-image: url("../img/avatars/user@2x.png");
        background-size: 64px 64px;
    }
}

.login_page .login_heading {
    text-align: center;
    margin-bottom: 32px;
}

.app_my_theme .uk-dropdown.uk-dropdown-small {
    width: 280px;
}

.app_my_theme .user-header .user_avatar {
    width: 64px;
    height: 64px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    background-image: url("../img/avatars/user.png");
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.085);
    background-position: 50% 1px;
    margin: auto;
}

.app_my_theme .user-menu li {
    list-style: none;
}

.app_my_theme .user-menu {
    padding: 0px;
    margin: 0px;
}

.app_my_theme .user-header {
    text-align: center;
    padding: 10px 10px 0px 10px;
    border-bottom: 1px solid #d9d9d9;
}

.app_my_theme .user-footer {
    padding: 10px 5px 5px 10px;
}

    .app_my_theme .user-footer .pull-left {
        float: left;
        text-align: left;
    }

    .app_my_theme .user-footer .pull-right {
        float: right;
        text-align: right;
    }

div#current-location {
    height: 48px;
    display: table-cell;
    vertical-align: middle;
    width: 120px;
}

#other-quotation-list {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

    #other-quotation-list .uk-button-dropdown {
        width: 100%;
        z-index: 100;
    }

#selected-quotation,#selected-photo,#selected-passport,#selected-visa{
    z-index: 100;
}

.uk-form-file.v1 {
    overflow: visible;
}

#other-quotation-list .uk-button-dropdown > a:focus {
    outline: none;
}

#other-quotation-list .uk-dropdown {
    padding: 5px;
    width: 100%;
}

#other-quotation-list ul {
    margin: 0px;
}

#other-quotation-list li {
    padding: 2px 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    position: relative;
}

    #other-quotation-list li:last-child {
        border-bottom: none;
    }

    #other-quotation-list li span {
        font-size: 12px;
        padding-right: 20px;
        word-wrap: break-word;
    }

.view-file {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#other-quotation-list li a,
#selected-quotation a {
    float: right;
    width: 20px;
    padding: 0px;
    position: absolute;
    right: 0px;
    display: inline-block;
    height: 20px;
    text-align: center;
    color: orangered;
    font-weight: bold;
}

#selected-quotation a {
    margin-right: 30px;
}

.selected-quotation a {
    margin-right: 30px;
}

.app_my_theme .timeline_content_addon blockquote {
    margin: 0px 0 0px 0px;
    font-size: 12px;
}

.app_my_theme .timeline_icon .material-icons {
    font-size: 17px;
}

.app_my_theme .timeline_item {
    min-height: 60px;
    padding: 0px 0px 8px;
}

.app_my_theme .timeline_icon {
    top: 0px;
}

#tabs-approvals-content th.NetAmount {
    text-align: center !important;
}

.panel label.large {
    font-size: larger;
}

.uk-input-group input[type="text"] {
    padding: 4px 28px 4px 4px;
}

.uk-table td {
    vertical-align: middle;
}

#page_content_inner.production .uk-table input[readonly],
#page_content_inner.sales .uk-table input[readonly] {
    padding: 0px;
    border: none;
    background: transparent !important;
    font: 400 12px / 1.42857143 "Roboto", sans-serif;
    width: 100%;
}

#page_content_inner.production .uk-table .md-input-wrapper,
#page_content_inner.sales .uk-table .md-input-wrapper {
    padding-top: 0px;
}

#page_content_inner.production .uk-table + .uk-table {
    margin-top: 0px;
}

.uk-modal .uk-table td {
    padding: 2px 4px;
}

#page_content_inner.production .uk-switcher {
    overflow: visible;
}

#supplier-list td.ItemCategory div.full {
    display: none;
}

#supplier-list td.ItemCategory div.part {
    display: block;
}

#supplier-list td.ItemCategory:hover div.full {
    display: block;
}

#supplier-list td.ItemCategory:hover div.part {
    display: none;
}

.production .checkbox-container,
.production .checkbox-container > div {
    display: inline-block;
}

.icheck-inline {
    margin: 8px 16px 6px 8px;
}

.stock-value .uk-table td {
    padding: 4px 6px;
    font: 400 11px / 1.42857143 "Roboto", sans-serif;
}

.stock-value .dataTables_wrapper .uk-table thead .sorting {
    padding-right: 20px;
}

.stock-value .uk-table thead th {
    font-size: 12px;
}

.Category-Wise .uk-table td {
    height: auto;
}

.Category-Wise .uk-table td {
    font-size: 12px;
}

.master-heading-top {
    margin-top: 20px !important;
}

.supplier-align-icheck {
    padding-top: 20px !important;
}

.bold {
    font-weight: bold;
}
.red {
  font-size: 18px;
  color:red;
}
.item-align-icheck {
    padding-top: 10px !important;
}

.uk-margin-top-25 {
    margin-top: 25px !important;
}


#attendance-employee-list thead tr {
    height: 80px;
}

#attendance-month-list thead tr {
    height: 30px;
}

#attendance-employee-list tbody tr,
#attendance-month-list tbody tr {
    height: 25px;
}

#attendance-employee-list,
#attendance-month-list {
    margin-bottom: 0px;
}

#month-list-wrapper {
    overflow-x: auto;
    padding-left: 0px;
    margin-left: -2px;
}

#daily-attendance-employee-list thead tr {
    height: 52px;
}

#attendance-day-list tbody tr,
#daily-attendance-employee-list tbody tr {
    height: 39px;
}

#day-list-wrapper {
    overflow-x: auto;
    padding-left: 0px;
    margin-left: -2px;
}

#daily-attendance-employee-list,
#attendance-day-list {
    margin-bottom: 0px;
}

#attendance-employee-list td span {
    word-break: break-all;
}

#daily-attendance-employee-list td span {
    word-break: break-all;
}

    #attendance-employee-list td span.label,
    #daily-attendance-employee-list td span.label {
        text-overflow: ellipsis;
        display: inline-block;
        overflow: hidden;
        line-height: initial;
        word-break: keep-all;
    }

.uk-tab > li > a {
    display: inline-block;
}

#pay-adjustment-wrapper {
    overflow-x: auto;
}

#tbl-pay-adjustment tbody tr .salarycomponents {
    width: 70px;
}

#print {
    display: none;
}



@media print {
    #screen {
        display: none;
    }

  .svg {
    width:100%;
    height:100%;
    max-width:100%;
    max-height:100%;
}

    #print {
        display: block !important;
    }

    #page-footer {
        display: none;
    }

    #page_heading {
        display: none !important;
    }

    body {
        padding: 0px;
    }

    .uk-sticky-placeholder {
        display: none;
    }

    .md-card .md-card-toolbar {
        height: 0px;
    }

    .uk-table.po-items {
        border: 1px solid black;
    }

        .uk-table.po-items thead tr,
        .uk-table.po-items thead tr th {
            border: 1px solid black;
        }

        .uk-table.po-items tbody tr {
            border: 0px solid black;
        }

            .uk-table.po-items tbody tr td {
                border-left: 1px solid black;
                border-top: 0px solid black;
                border-right: 1px solid black;
                border-bottom: 0px solid black;
            }
}

.uk-tooltip {
    text-align: left;
}

    .uk-tooltip .uk-tooltip-inner {
        text-overflow: initial;
        min-width: max-content;
    }

#login-popup #login_card {
    margin-top: 100px;
}

td .md-btn {
    font: 500 12px / 18px "Roboto", sans-serif !important;
    min-height: 22px;
}

.uk-switcher {
    overflow: unset !important;
}

.uk-modal-dialog-medium {
    width: 930px;
}

#print-settings h2.heading_c {
    margin-bottom: 12px;
    margin-top: -6px;
    font-size: 15px;
}

    #print-settings h2.heading_c label {
        margin-left: 32px;
    }

#print-settings .uk-modal-dialog .uk-modal-header {
    border-bottom: 1px solid #ddd;
}

.icheck-inline.save-preference {
    margin: 0px 12px;
}

.user-header .name {
    padding: 10px 0px;
    text-transform: uppercase;
}

    .user-header .name span {
        text-transform: capitalize;
    }

.fancytree-icon {
    visibility: hidden;
}

#sales-invoice-items-list .proforma-invoice .remove-item {
    visibility: hidden;
}


#page_content_inner.dashboard .md-card {
    background: #fff;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: none;
    height: 350px;
}

#page_content_inner.dashboard .uk-grid {
    margin-left: 0px;
}

#page_content_inner.dashboard .md-card-content statistics {
    height: 10%;
    min-height: 0;
}

#page_content_inner.dashboard .uk-margin-bottom {
    margin-bottom: 0px !important;
}

#page_content_inner.dashboard .budget {
    width: 15px;
    background: #f4c63d ;
    display: inline-block;
    height: 10px;
    margin: 0px 5px;
}

#page_content_inner.dashboard .actual-to-date {
    width: 15px;
    background: #6ee86e;
    display: inline-block;
    height: 10px;
    margin: 0px 5px;
}

#page_content_inner.dashboard .actual-py {
    width: 15px;
    background: #6b7bea;
    display: inline-block;
    height: 10px;
    margin: 0px 5px;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #6b7bea  !important;
}

.ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie {
    fill: #ee4f4f !important;
}

.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
    stroke: #f4c63d  !important;
}

.ct-series-b .ct-area, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-slice-pie {
    fill: #f4c63d !important;
}

.ct-series-c .ct-bar, .ct-series-c .ct-line, .ct-series-c .ct-point, .ct-series-c .ct-slice-donut {
    stroke: #6ee86e !important;
}

.ct-series-c .ct-area, .ct-series-c .ct-slice-donut-solid, .ct-series-c .ct-slice-pie {
    fill: #2ca02c !important;
}

#page_content_inner.dashboard * + .uk-margin {
    margin-top: 8px;
}

#page_content_inner.dashboard .uk-margin {
    margin-bottom: 8px;
}

#page_content_inner.dashboard .heading_a .text {
    font-size: 12px !important;
}

#page_content_inner.dashboard .heading_a {
    margin: 0;
    font: 300 15px / 20px "Roboto", sans-serif;
}

#tickers {
    width: 100%;
    position: fixed;
    bottom: 25px;
    z-index: 100;
    background: #fafafa;
}

    #tickers div {
        min-width: 100px;
        display: inline-block;
        border-radius: 8px;
        border: 1px solid #f3f3f3;
        padding: 8px;
        text-align: center;
        margin: 8px;
    }

        #tickers div label {
            font-weight: bold;
            text-transform: capitalize;
            font-size: 13px;
            display: block;
        }

        #tickers div.down span {
            color: orangered;
        }

        #tickers div.up span {
            color: forestgreen;
        }

        #tickers div span.equal {
            color: yellow;
        }

        #tickers div span {
            font-size: 17px;
        }

        #tickers div i {
            text-align: center !important;
            display: none;
        }

        #tickers div span span {
            font-weight: 600;
            margin: 0px;
            text-align: center !important;
        }

body #page_content_inner.dashboard {
    padding-bottom: 100px !important;
}

.mGraph {
    margin-top: -50px;
}

.chartist-tooltip {
    position: absolute !important;
    display: block;
    min-width: 5em;
    padding: .5em;
    background: #FFFFFF;
    color: #453D3F;
    font-family: Oxygen,Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-align: center;
    /* pointer-events: none; */
    z-index: 1;
    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    display: none;
    /* transition: opacity .2s linear; */
}

.tooltip-show {
    display: inline;
    /* transition: opacity .2s linear; */
}

.chartist {
    position: relative !important;
}

#header_main .uk-navbar .uk-navbar-left {
    width: 30%;
}

#header_main .uk-navbar .uk-navbar-middle {
    width: 30%;
}

#header_main .uk-navbar .uk-navbar-right {
    width: 40%;
}

#live-count-down {
    text-align: center;
    margin: auto;
    width: fit-content;
}

    #live-count-down div {
        font: 700 17px large;
        padding: 4px;
        margin: 0px 2px;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
        float: left;
        background: white;
    }

        #live-count-down div span {
            display: block;
            font: 700 10px large;
            text-transform: uppercase;
        }


.app_my_theme .add-item-color {
    background-color: burlywood !important;
}

.app_my_theme .conflict-color {
    color: red !important;
}

.app_my_theme #Offers {
    font-weight: 600;
    color: black;
    width: inherit;
    background: #ffedbb;
    padding-left: 15px;
    padding-right: 15px;
}

.app_my_theme .dropdownline{
   width:100px;
   float:left;

}


