/*VARS*/
html {
    background: #fff;
}

body {
    padding-top: 44px;
    font: 400 11.5px / 1.42857143 "Roboto", sans-serif;
}

#page_heading h1 {
    font: 500 16px / 1.35 "Roboto", sans-serif;
}

#page_heading span {
    font-size: 11px !important;
}

/*
FONT BEGINS*/
@font-face {
    font-family: "vaidyaratnam";
    src: url("fonts/vaidyaratnam.eot");
    src: url("fonts/vaidyaratnam.eot?#iefix") format("embedded-opentype"), url("fonts/vaidyaratnam.woff") format("woff"), url("fonts/vaidyaratnam.ttf") format("truetype"), url("fonts/vaidyaratnam.svg#vaidyaratnam") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "vaidyaratnam" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="v-icon-"]:before,
[class*=" v-icon-"]:before {
    font-family: "vaidyaratnam" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.v-icon-expand:before {
    content: "\61";
}

.v-icon-full-screen:before {
    content: "\62";
}

.v-icon-graphic-2:before {
    content: "\63";
}

.v-icon-business:before {
    content: "\64";
}

.v-icon-dashboard:before {
    content: "\65";
}

.v-icon-line:before {
    content: "\66";
}

.v-icon-shopping:before {
    content: "\67";
}

.v-icon-basket:before {
    content: "\68";
}

.v-icon-gear:before {
    content: "\69";
}

.v-icon-medical:before {
    content: "\6a";
}

.v-icon-full-screen1:before {
    content: "\6b";
}

.v-icon-thin-expand-arrows:before {
    content: "\6c";
}

.v-icon-piggy-bank:before {
    content: "\6d";
}

.v-icon-decision-making:before {
    content: "\6e";
}

.v-icon-paper:before {
    content: "\6f";
}

.v-icon-coins-1:before {
    content: "\70";
}

.v-icon-expand-1:before {
    content: "\71";
}

.v-icon-shopping-bag-1:before {
    content: "\72";
}

.v-icon-money-2:before {
    content: "\73";
}

.v-icon-technology:before {
    content: "\74";
}

.v-icon-report:before {
    content: "\75";
}

.v-icon-coins:before {
    content: "\76";
}

.v-icon-business-2:before {
    content: "\77";
}

.v-icon-shopping-bag:before {
    content: "\78";
}

.v-icon-money-1:before {
    content: "\79";
}

.v-icon-transfer-1:before {
    content: "\7a";
}

.v-icon-transfer:before {
    content: "\41";
}

.v-icon-budget:before {
    content: "\42";
}

.v-icon-basket-1:before {
    content: "\43";
}

.v-icon-shopping-bag-2:before {
    content: "\44";
}

.v-icon-money:before {
    content: "\45";
}

.v-icon-transfer-2:before {
    content: "\46";
}

.v-icon-chart:before {
    content: "\47";
}

.v-icon-percentage-chart:before {
    content: "\48";
}

.v-icon-shopping-cart:before {
    content: "\49";
}

.v-icon-report-1:before {
    content: "\4a";
}

.v-icon-shopping-1:before {
    content: "\4b";
}

.v-icon-bar-chart1:before {
    content: "\4c";
}

.v-icon-percentage:before {
    content: "\4d";
}

.v-icon-dashboard1:before {
    content: "\4e";
}

.v-icon-bar-chart:before {
    content: "\4f";
}

.v-icon-angle-down:before {
    content: "\50";
}

.v-icon-angle-left:before {
    content: "\51";
}

.v-icon-angle-right:before {
    content: "\52";
}

.v-icon-angle-up:before {
    content: "\53";
}

.v-icon-ellipsis-v:before {
    content: "\54";
}

.v-icon-ellipsis-h:before {
    content: "\55";
}

.v-icon-circle:before {
    content: "\56";
}

.v-icon-circle-o:before {
    content: "\57";
}

.v-icon-envelope-o:before {
    content: "\58";
}

.v-icon-bell-o:before {
    content: "\59";
}

.v-icon-heart-o:before {
    content: "\5a";
}

.v-icon-android-arrow-forward:before {
    content: "\30";
}

.v-icon-android-done:before {
    content: "\31";
}

.v-icon-android-close:before {
    content: "\32";
}

.v-icon-android-favorite-outline:before {
    content: "\33";
}

.v-icon-android-contract:before {
    content: "\34";
}

.v-icon-android-expand:before {
    content: "\35";
}

.v-icon-android-arrow-back:before {
    content: "\36";
}

.v-icon-android-add:before {
    content: "\37";
}

.v-icon-ios-arrow-left:before {
    content: "\22";
}

.v-icon-ios-arrow-right:before {
    content: "\23";
}

.v-icon-bubble-comment-streamline-talk:before {
    content: "\38";
}

.v-icon-edit-modify-streamline:before {
    content: "\39";
}

.v-icon-like-love-streamline:before {
    content: "\21";
}

.v-icon-home-house-streamline:before {
    content: "\24";
}

.v-icon-check-mark-circle-outline:before {
    content: "\25";
}

.v-icon-close-circle-outline:before {
    content: "\26";
}

.v-icon-clock-time-outline:before {
    content: "\27";
}

.v-icon-bag:before {
    content: "\28";
}

.v-icon-bell-outline:before {
    content: "\29";
}

.v-icon-keypad-outline:before {
    content: "\2a";
}

.v-icon-keypad-2:before {
    content: "\2b";
}

.v-icon-folder-o:before {
    content: "\2c";
}

.v-icon-folder-open-o:before {
    content: "\2d";
}

.v-icon-android-checkbox-outline:before {
    content: "\2e";
}

.v-icon-android-checkmark-circle:before {
    content: "\2f";
}

.v-icon-android-checkbox-outline-blank:before {
    content: "\3a";
}

.v-icon-android-more-vertical:before {
    content: "\3b";
}

.v-icon-android-menu:before {
    content: "\3c";
}

.v-icon-android-radio-button-off:before {
    content: "\3d";
}

.v-icon-android-radio-button-on:before {
    content: "\3e";
}

.v-icon-thumbnails-large:before {
    content: "\3f";
}

.v-icon-layout:before {
    content: "\40";
}

.v-icon-thumbnails:before {
    content: "\5b";
}

.v-icon-thumbnails-1:before {
    content: "\5d";
}

.v-icon-notification:before {
    content: "\5e";
}

.v-icon-alarm:before {
    content: "\5f";
}

/*FONT ENDS*/
/*COMMON*/
/*.uk-grid + .uk-grid, 
.uk-grid-margin, 
.uk-grid > * > .uk-panel + .uk-panel{
    margin-top: 0;
}*/
.section-group {
    margin-bottom: 34px;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.md-input[disabled] {
    border-color: rgba(0, 0, 0, 0.05) !important;
    background: #fff7dc !important;
}

.uk-table thead {
    /*background: #f7f7f7;*/
    background: #fffbd5;
}

    .uk-table thead:focus {
        outline: none;
    }

    .uk-table thead th {
        border: 0;
    }

.uk-dropdown > ul > li > a {
    font-size: 12px;
}

.uk-grid {
    margin-left: -6px;
}

    .uk-grid > * {
        padding-left: 6px;
    }

.uk-form-row + .uk-form-row {
    margin-top: 5px;
}

.uk-form-file.v1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 27px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 7px 0px 7px 4px;
}

    .uk-form-file.v1 > label:first-child {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .uk-form-file.v1 > label.upload-btn {
        min-width: 28px;
        padding-left: 0;
        padding-right: 0;
        background: #f1f1f1;
        border-radius: 3px;
    }

    .uk-form-file.v1 input {
        font-size: 20px;
    }

.uk-table thead.filter-input {
    background: #fff;
}

    .uk-table thead.filter-input th {
        background: #f9f5cc;
        background: #f9f6d4;
    }

    .uk-table thead.filter-input .md-input-wrapper {
        padding-top: 0;
    }

    .uk-table thead.filter-input input[type="text"].md-input {
        background: #fff;
        border-color: #ffedbb !important;
        font-weight: normal !important;
    }

.uk-table thead th,
.uk-table tfoot td,
.uk-table tfoot th {
    font-weight: 500;
    color: #300;
    font-size: 13px;
    padding: 3px 3px;
    text-align: center;
    border: 1px solid #ffedbb;
    background: #fffce2;
    vertical-align: top;
}

.uk-table tbody > tr {
    transition: all 0.3s ease;
}

    .uk-table tbody [role="row"]:nth-child(even),
    .uk-table tbody > tr:nth-child(even) {
        background: #f9f9f9;
    }

        .uk-table tbody > tr:hover,
        .uk-table tbody > tr:nth-child(even):hover {
            background: #f2f2f2;
        }

.uk-table tr > [class*="sorting"] {
    background: none !important;
    position: relative;
}

    .uk-table tr > [class*="sorting"]:after {
        line-height: normal;
    }

    .uk-table tr > [class*="sorting"][aria-sort] {
        /*background: rgb(255, 250, 223) !important;*/
        background: #fff8b5 !important;
    }

.uk-table td {
    border-bottom-color: #eaeaea;
    padding: 4px 10px;
    vertical-align: baseline;
    border: 1px solid #eaeaea;
}

.uk-table input,
.uk-table select {
    /*border: 0 !important;*/
}

    .uk-table input:not([disabled]),
    .uk-table select:not([disabled]) {
        /*color: red;*/
    }

.uk-grid .dataTables_paginate,
.uk-grid .dataTables_info {
    padding: 10px 0;
}

.uk-pagination > li:not(:last-child) a {
    border-radius: 100%;
}

.uk-pagination > li span {
    border-radius: 100%;
}

.uk-pagination > li.uk-active > span {
    background: #989b31;
}

.uk-input-group {
    width: 100%;
}

.uk-input-group-addon {
    position: absolute;
    bottom: 6px;
    right: 4px;
    padding: 0;
}

.uk-autocomplete {
    float: left;
    width: 100%;
    position: relative;
}

    .uk-autocomplete .uk-input-group {
        float: left;
    }

    .uk-autocomplete > .uk-dropdown {
        top: 100%;
    }


.btnSelectReqstion .uk-input-group-icon {
    font-size: 12px;
}

.md-input-wrapper .md-input-bar:before,
.md-input-wrapper .md-input-bar:after {
    background: #ffc107;
}

.md-input:focus {
    border-color: #ff8007 !important;
}

.md-input-wrapper > label,
.md-input-wrapper.md-input-wrapper-disabled > label {
    color: #000000;
}

#color-indicator span {
    margin: 0 10px;
}

    #color-indicator span i {
        margin-right: 3px;
        position: relative;
        top: 2px;
    }

    #color-indicator span.draft i {
        color: green;
    }

    #color-indicator span.processed i {
        color: blue;
    }

    #color-indicator span.cancelled i {
        color: red;
    }


/*COMMON*/
.outline-btn {
    border: 2px solid;
    border-radius: 3px;
}

.page_heading_active #header_main {
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.27);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.27);
}

.sidebar_slim #page_content,
.sidebar_slim #header_main,
.sidebar_slim #top_bar {
    margin-left: 50px;
}

.dataTables_filter {
    display: none;
}

#header_main {
    padding: 3px 15px;
    background: #fff;
    min-height: 44px;
    max-height: 44px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #e6e7b1;
    background: -moz-linear-gradient(left,#e6e7b1 0%, #ffffff 100%);
    background: -webkit-linear-gradient(left, #e6e7b1 0%, #ffffff 100%);
    background: linear-gradient(to right,#e6e7b1 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e7b1', endColorstr='#ffffff', GradientType=1);
}

    #header_main .header_main_content {
        height: 100%;
    }

    #header_main .uk-navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
    }

     #header_main .uk-navbar .uk-navbar-left .header_main_search_form i {
                color: #6f6f6f;
                font-size: 18px;
                height: 100% !important;
                line-height: 27px !important;
            }
        

            #header_main .uk-navbar .uk-navbar-right .uk-navbar-nav > li > a {
                color: #000;
                display: table;
            }

                #header_main .uk-navbar .uk-navbar-right .uk-navbar-nav > li > a [class*='v-icon'] {
                    font-size: 16px;
                    display: table-cell;
                    vertical-align: middle;
                    line-height: 45%;
                }

                #header_main .uk-navbar .uk-navbar-right .uk-navbar-nav > li > a .vi-keys {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 13px;
                    letter-spacing: 0.03em;
                }

            #header_main .uk-navbar .uk-navbar-right .uk-navbar-nav > li:last-child a {
                /*padding-right: 0;*/
            }

                #header_main .uk-navbar .uk-navbar-right .uk-navbar-nav > li:last-child a .md-user-image {
                    width: 28px;
                }

                #header_main .uk-navbar .uk-navbar-right .uk-navbar-nav > li:last-child a i {
                    font-size: 14px;
                    margin-left: 4px;
                    display: inline-block;
                    opacity: 0.8;
                }

    #header_main .user_actions .user_action_icon > .uk-badge {
        background: red;
        font-weight: bold;
        font-size: 11px;
        padding: 2px 2px;
        border-radius: 5px;
        right: 0px;
        left: auto;
        margin-top: -1px;
    }

    #header_main #menu_top_dropdown .top_menu_toggle {
        color: #000;
    }

        #header_main #menu_top_dropdown .top_menu_toggle .material-icons {
            color: #000;
        }

    #header_main .header_main_search_form {
        display: block;
        padding: 0;
        overflow: hidden;
    }

    #header_main .header_main_search_input {
        background: #fff;
        border-radius: 100px;
        padding-left: 40px;
        max-width: 250px;
        color: #000;
        font-size: 100%;
        border: 1px solid #efefef;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

        #header_main .header_main_search_input:focus {
            max-width: 50%;
            -webkit-box-shadow: 0 0px 65px rgba(0, 0, 0, 0.06);
            box-shadow: 0 0px 65px rgba(0, 0, 0, 0.06);
        }

    #header_main .header_main_search_btn {
        left: 0;
        right: auto;
        height: 100%;
        padding-left: 4px;
        padding-right: 0;
    }

        #header_main .header_main_search_btn i {
            color: #000;
        }

            #header_main .header_main_search_btn i:hover, #header_main .header_main_search_btn i:focus {
                color: #000;
                background: none;
            }

.sidebar_slim #sidebar_main {
    width: 50px;
    max-width: 50px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.11);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.11);
    background: #989b31;
    background: -webkit-gradient(linear, left top, left bottom, from(#989b31), to(#989b31));
    background: linear-gradient(to bottom, #989b31 0%, #989b31 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#989b31', endColorstr='#989b31', GradientType=0);
}

    .sidebar_slim #sidebar_main .menu_section > ul > li {
        margin: 6px 0;
    }

        .sidebar_slim #sidebar_main .menu_section > ul > li > a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 8px 15px;
        }

            .sidebar_slim #sidebar_main .menu_section > ul > li > a:before {
                color: #fff;
            }

            .sidebar_slim #sidebar_main .menu_section > ul > li > a .menu_icon {
                font-size: 18px;
                color: #fff;
                vertical-align: middle;
                height: auto;
            }

            .sidebar_slim #sidebar_main .menu_section > ul > li > a .menu_title {
                font-weight: normal;
                color: #fff;
            }

        .sidebar_slim #sidebar_main .menu_section > ul > li ul a {
            color: #fff;
        }

        .sidebar_slim #sidebar_main .menu_section > ul > li.act_section > a {
        }

    .sidebar_slim #sidebar_main .sidebar_main_header {
        height: auto;
        margin-bottom: 0px;
    }

        .sidebar_slim #sidebar_main .sidebar_main_header .sidebar_logo {
            height: 44px;
            line-height: 44px;
            background: #FCECDD;
            background: -moz-linear-gradient(left, #FCECDD 0%, #ffffff 100%);
            background: -webkit-linear-gradient(left, #FCECDD 0%, #ffffff 100%);
            background: linear-gradient(to right, #FCECDD 0%, #ffffff 100%);
        }

            .sidebar_slim #sidebar_main .sidebar_main_header .sidebar_logo .logo_light {
                display: none;
            }

            .sidebar_slim #sidebar_main .sidebar_main_header .sidebar_logo a {
                margin: 0 !important;
                padding: 0 8px;
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
                text-align: center;
            }

                .sidebar_slim #sidebar_main .sidebar_main_header .sidebar_logo a img {
                    display: inline-block;
                    height: auto;
                    max-height: 100%;
                    vertical-align: middle;
                }

.sidebar_slim_active #sidebar_main {
    max-width: 240px;
    width: 240px;
}

#page_content_inner {
    padding: 3px;
}

#page_content {
    height: calc(100vh - 54px);
    background: #fff;
    position: relative;
}

    #page_content #page_heading {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        box-shadow: 0 0 10px rgba(204, 204, 204, 0.5);
        min-height: auto;
        padding: 8px 15px;
        top: auto !important;
    }

        #page_content #page_heading .heading_actions {
            margin: 0;
            padding: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

            #page_content #page_heading .heading_actions > a {
                border-radius: 2px;
                margin-left: 10px;
                color: #fff;
                line-height: 32px !important;
                height: auto;
                padding: 0px 15px;
                font-size: 12px !important;
                box-shadow: none;
            }

                #page_content #page_heading .heading_actions > a:nth-child(1) {
                    background: #989b31;
                }

                    #page_content #page_heading .heading_actions > a:nth-child(1):hover, #page_content #page_heading .heading_actions > a:nth-child(1):focus {
                        box-shadow: none;
                        background: #989b31;
                    }

                #page_content #page_heading .heading_actions > a:nth-child(2) {
                    background: #989b31;
                }

                    #page_content #page_heading .heading_actions > a:nth-child(2):hover, #page_content #page_heading .heading_actions > a:nth-child(2):focus {
                        box-shadow: none;
                        background: #989b31;
                    }

                #page_content #page_heading .heading_actions > a:nth-child(3) {
                    background: #989b31;
                }

                    #page_content #page_heading .heading_actions > a:nth-child(3):hover, #page_content #page_heading .heading_actions > a:nth-child(3):focus {
                        box-shadow: none;
                        background: #989b31;
                    }

                #page_content #page_heading .heading_actions > a:nth-child(4) {
                    background: #989b31;
                }

                    #page_content #page_heading .heading_actions > a:nth-child(4):hover, #page_content #page_heading .heading_actions > a:nth-child(4):focus {
                        box-shadow: none;
                        background: #C78F8F;
                    }

                #page_content #page_heading .heading_actions > a:nth-child(5) {
                    background: #989b31;
                }

                    #page_content #page_heading .heading_actions > a:nth-child(5):hover, #page_content #page_heading .heading_actions > a:nth-child(5):focus {
                        box-shadow: none;
                        background: #C78F8F;
                    }

                #page_content #page_heading .heading_actions > a:nth-child(6) {
                    background: #989b31;
                }

                    #page_content #page_heading .heading_actions > a:nth-child(6):hover, #page_content #page_heading .heading_actions > a:nth-child(6):focus {
                        box-shadow: none;
                        background: #C78F8F;
                    }

                #page_content #page_heading .heading_actions > a:nth-child(7) {
                    background: #010906;
                }

                    #page_content #page_heading .heading_actions > a:nth-child(7):hover, #page_content #page_heading .heading_actions > a:nth-child(7):focus {
                        box-shadow: none;
                        background: #989b31;
                    }

                #page_content #page_heading .heading_actions > a:nth-child(8) {
                    background: #989b31;
                }

                    #page_content #page_heading .heading_actions > a:nth-child(8):hover, #page_content #page_heading .heading_actions > a:nth-child(8):focus {
                        box-shadow: none;
                        background: #C78F8F;
                    }

                #page_content #page_heading .heading_actions > a:nth-child(9) {
                    background: #989b31;
                }

                    #page_content #page_heading .heading_actions > a:nth-child(9):hover, #page_content #page_heading .heading_actions > a:nth-child(9):focus {
                        box-shadow: none;
                        background: #05482a;
                    }

                #page_content #page_heading .heading_actions > a:nth-child(10) {
                    background: #989b31;
                }

                    #page_content #page_heading .heading_actions > a:nth-child(10):hover, #page_content #page_heading .heading_actions > a:nth-child(10):focus {
                        box-shadow: none;
                        background: #04341f;
                    }

.uk-grid + .uk-grid,
.uk-grid-margin,
.uk-grid > * > .uk-panel + .uk-panel {
    margin-top: 34px;
    margin-top: 15px;
    margin-top: 10px;
}

select.md-input,
textarea.md-input,
input:not([type]).md-input,
input[type="text"].md-input,
input[type="password"].md-input,
input[type="datetime"].md-input,
input[type="datetime-local"].md-input,
input[type="date"].md-input,
input[type="month"].md-input,
input[type="time"].md-input,
input[type="week"].md-input,
input[type="number"].md-input,
input[type="email"].md-input,
input[type="url"].md-input,
input[type="search"].md-input,
input[type="tel"].md-input,
input[type="color"].md-input {
    font-weight: 500;
    font-size: 110%;
    border-color: rgba(0, 0, 0, 0.12);
    padding: 4px 3px;
    font: 400 11.5px / 1.42857143 "Roboto", sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: #ffffff;
}

    select.md-input.x-large,
    textarea.md-input.x-large,
    input:not([type]).md-input.x-large,
    input[type="text"].md-input.x-large,
    input[type="password"].md-input.x-large,
    input[type="datetime"].md-input.x-large,
    input[type="datetime-local"].md-input.x-large,
    input[type="date"].md-input.x-large,
    input[type="month"].md-input.x-large,
    input[type="time"].md-input.x-large,
    input[type="week"].md-input.x-large,
    input[type="number"].md-input.x-large,
    input[type="email"].md-input.x-large,
    input[type="url"].md-input.x-large,
    input[type="search"].md-input.x-large,
    input[type="tel"].md-input.x-large,
    input[type="color"].md-input.x-large {
        font-size: 24px;
        font-weight: 600;
        padding-top: 7px;
        padding-bottom: 6px;
        max-height: 36px;
    }

    select.md-input:focus,
    textarea.md-input:focus,
    input:not([type]).md-input:focus,
    input[type="text"].md-input:focus,
    input[type="password"].md-input:focus,
    input[type="datetime"].md-input:focus,
    input[type="datetime-local"].md-input:focus,
    input[type="date"].md-input:focus,
    input[type="month"].md-input:focus,
    input[type="time"].md-input:focus,
    input[type="week"].md-input:focus,
    input[type="number"].md-input:focus,
    input[type="email"].md-input:focus,
    input[type="url"].md-input:focus,
    input[type="search"].md-input:focus,
    input[type="tel"].md-input:focus,
    input[type="color"].md-input:focus {
        /*border-color: #ffc107;*/
    }

    select.md-input#NetAmt,
    textarea.md-input#NetAmt,
    input:not([type]).md-input#NetAmt,
    input[type="text"].md-input#NetAmt,
    input[type="password"].md-input#NetAmt,
    input[type="datetime"].md-input#NetAmt,
    input[type="datetime-local"].md-input#NetAmt,
    input[type="date"].md-input#NetAmt,
    input[type="month"].md-input#NetAmt,
    input[type="time"].md-input#NetAmt,
    input[type="week"].md-input#NetAmt,
    input[type="number"].md-input#NetAmt,
    input[type="email"].md-input#NetAmt,
    input[type="url"].md-input#NetAmt,
    input[type="search"].md-input#NetAmt,
    input[type="tel"].md-input#NetAmt,
    input[type="color"].md-input#NetAmt {
        /*background: transparent !important;
        border: 0 !important;
        color: #FF9800;*/
    }

.md-input-wrapper > label {
    position: static;
    display: inline-block;
    max-width: 100%;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 0;
    overflow: hidden;
    line-height: normal;
}

> .md-card {
    box-shadow: none;
}

.md-btn-primary {
    background: #989b31;
}

.md-btn-block {
    min-height: 24px;
    background: #989b31;
    box-shadow: none;
}

    .md-btn-block:hover, .md-btn-block:focus {
        box-shadow: none;
        background:#989b31;
    }

#page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 4px 15px;
    background: #e6e7b1;
    border-top: 1px solid #dcdcdc;
    padding-left: 64px;
    left: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

    #page-footer .right-block span + span {
        margin: 0 10px;
        border-left: 1px solid #ccc;
        padding-left: 20px;
    }

    #page-footer .right-block span.powered {
        font-weight: 600;
        color: #FF9800;
    }

.uk-table thead.search input[type="text"].md-input {
    background: #fff;
    border-color: #ffedbb !important;
    font-weight: normal !important;
}

.uk-table thead.search th {
    padding: 1px 6px 4px 6px !important;
}

.uk-grid + .uk-grid {
    margin-top: 0px !important;
}

.uk-pagination > li > a:hover {
    background:#989b31;
}

.iradio_md.checked {
    border-color: #989b31 !important;
}

    .iradio_md.checked:after {
        background:#989b31;
        transform: scale(1);
    }

.md-btn-primary {
    background: #989b31;
}

    .md-btn-primary:hover,
    .md-btn-primary:focus,
    .md-btn-primary:active,
    .md-btn-primary.uk-active {
        background: #989b31;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

.uk-tab > li > a:hover, .uk-tab > li > a:focus {
    border-bottom-color: #b3f1d6;
}

.uk-tab > li.uk-active > a {
    border-bottom-color: #0a7e4b;
}

/*
@media screen and (max-width:1600px) {
    body {
        zoom:0.85; 
    }
}
*/

/*# sourceMappingURL=my_theme.css.map */
