################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BusinessLayer/obj
/BusinessObject/obj
/DataAccessLayer/obj
/PresentationContractLayer/obj
/TradeSuiteApp.Web/obj
/WebAPI/obj
/DataAccessLayer/.vs
/TradeSuiteApp.Web/Outputs
/TradeSuiteApp.Web/bin/app.publish
/BusinessLayer/.vs
/BusinessObject/.vs
/TradeSuiteApp.Web/.vs
/PresentationContractLayer/.vs
