
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-3">
        <div class="md-input-wrapper md-input-filled">
            <label>&nbsp;</label>
            <select class="md-input label-fixed" name="ExportType" id="ExportType">
                <option value="Html">Html</option>
                <option value="Excel">Excel</option>
                <option value="PDF">PDF</option>          
            </select>
        </div>
    </div>
    <div class="uk-width-medium-1-3">
        <div class="md-input-wrapper md-input-filled">
            <label>&nbsp;</label>
            <button type="submit" class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="report-filter-submit">Generate</button>
        </div>
    </div>
    <div class="uk-width-medium-1-3">
        <div class="md-input-wrapper md-input-filled">
            <label>&nbsp;</label>
            <a class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light " id="Refresh">Reset</a>
        </div>
    </div>
</div>
