<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.2" targetFramework="net461" />
  <package id="EntityFrameworkExtras.EF6" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net461" />
  <package id="ReportViewerForMvc" version="1.1.1" targetFramework="net461" />
</packages>