@model TradeSuiteApp.Web.Areas.Masters.Models.TreatmentRoomModel
<div class="section-group">
    <div class="uk-form-row">
        <div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-medium-8-10">
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-2-8">
                            <label>@Masters.Name</label>
                            @Html.TextBoxFor(m => m.Name, "", new { @class = "md-input label-fixed" })
                        </div>
                        <div class="uk-width-medium-2-8">
                            <label>@Masters.Remarks</label>
                            @Html.TextBoxFor(m => m.Remarks, "", new { @class = "md-input label-fixed" })
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

