@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h3 class="heading_a uk-margin-bottom">An error occurred while processing your request.</h3>
<div class="uk-accordion" data-uk-accordion="{showfirst: false}">
    <h3 class="uk-accordion-title">@ViewBag.Message</h3>
    <div class="uk-accordion-content">
        <p>@ViewBag.InnerException</p>
        <p>@ViewBag.StackTrace</p>
    </div>
</div>
