@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Unauthorised";
}
<div id="page_content">

    <div id="page_heading" data-uk-sticky="{ top: 54, media: 960 }">
        <div class="heading_title">
            <h1 class="text-danger">Unauthorised</h1>
            <span class="uk-text-upper uk-text-small">Unauthorised</span>

        </div>
    </div>

    <div id="page_content_inner" class="sales form-view">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                  <div class="uk-accordion" data-uk-accordion="{showfirst: false}">
                    <h3 class="uk-accordion-title">Unauthorised Access</h3>
                    <div class="uk-accordion-content">
                        <p>You are not authorized to view this page / do this action</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
