<input type="button" id="show-edit" data-uk-modal="{target:'#appointment_edit', center:false}" />
<div class="uk-modal" id="appointment_edit" aria-hidden="true" style="display: none; overflow-y: scroll;">
    <div class="uk-modal-dialog" style="">
        <div id="get-edit">
           
        </div>
    </div>
</div>
