<input type="button" id="show-barcode" data-uk-modal="{target:'#show-bar-code', center:false}" />
<div class="uk-modal" id="show-bar-code" aria-hidden="true" style="display: none; overflow-y: scroll;">
    <div class="uk-modal-dialog" style="">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Bar Code<i class="material-icons"></i></h3>
        </div>
        <br />
        <div class="uk-modal-content">
            <div class="uk-form-row">
                <div class="uk-grid uk-margin-small-top" data-uk-grid-margin="">
                   <div id ="barcode">
                       
                   </div>
                   <div id="textdata">

                   </div>
                </div>
            </div>
        </div>
        <br />
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn  uk-modal-close barcodeClose">@Common.Close</button>
            @*<button type="button" class="md-btn md-btn-primary" id="btnQRCodeSave">Save</button>*@
            <button type="button" class="md-btn md-btn-primary" id="btnPrintBarCode">Print</button>
        </div>
    </div>
</div>
