@model TradeSuiteApp.Web.Areas.AHCMS.Models.AppointmentScheduleModel
<input type="button" id="show-appointment-fee" data-uk-modal="{target:'#appointment_fee', center:false}" />
<div class="uk-modal" id="appointment_fee" aria-hidden="true" style="display: none; overflow-y: scroll;">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="">
        <div id="get-appointment">
            @*@Html.Partial("~/Areas/AHCMS/Views/AppointmentSchedule/GetAppointment.cshtml", Model)*@
        </div>
    </div>
</div>
