<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=202.21.38.60,1433; Initial Catalog=JanaushadhiDemo;User ID=Ayuradmin;Password=udyata#1kraft9;" providerName="System.Data.SqlClient"/>
    <add name="AccountsEntities" connectionString="metadata=res://*/DBContext.AccountsModel.csdl|res://*/DBContext.AccountsModel.ssdl|res://*/DBContext.AccountsModel.msl;provider=System.Data.SqlClient;provider connection string='data source=202.21.38.60,1433;initial catalog=JanaushadhiDemo;user id=Ayuradmin;password=udyata#1kraft9;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient"/>
    <add name="PayrollEntities" connectionString="metadata=res://*/DBContext.PayrollModel.csdl|res://*/DBContext.PayrollModel.ssdl|res://*/DBContext.PayrollModel.msl;provider=System.Data.SqlClient;provider connection string='data source=202.21.38.60,1433;initial catalog=JanaushadhiDemo;user id=Ayuradmin;password=udyata#1kraft9;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient"/>
    <add name="ProductionEntities" connectionString="metadata=res://*/DBContext.ProductionModel.csdl|res://*/DBContext.ProductionModel.ssdl|res://*/DBContext.ProductionModel.msl;provider=System.Data.SqlClient;provider connection string='data source=202.21.38.60,1433;initial catalog=JanaushadhiDemo;user id=Ayuradmin;password=udyata#1kraft9;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient"/>
    <add name="PurchaseEntities" connectionString="metadata=res://*/DBContext.PurchaseModel.csdl|res://*/DBContext.PurchaseModel.ssdl|res://*/DBContext.PurchaseModel.msl;provider=System.Data.SqlClient;provider connection string='data source=202.21.38.60,1433;initial catalog=JanaushadhiDemo;user id=Ayuradmin;password=udyata#1kraft9;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient"/>
    <add name="ReportsEntities" connectionString="metadata=res://*/DBContext.ReportsModel.csdl|res://*/DBContext.ReportsModel.ssdl|res://*/DBContext.ReportsModel.msl;provider=System.Data.SqlClient;provider connection string='data source=202.21.38.60,1433;initial catalog=JanaushadhiDemo;user id=Ayuradmin;password=udyata#1kraft9;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient"/>
    <add name="SalesEntities" connectionString="metadata=res://*/DBContext.SalesModel.csdl|res://*/DBContext.SalesModel.ssdl|res://*/DBContext.SalesModel.msl;provider=System.Data.SqlClient;provider connection string='data source=202.21.38.60,1433;initial catalog=JanaushadhiDemo;user id=Ayuradmin;password=udyata#1kraft9;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient"/>
    <add name="StockEntities" connectionString="metadata=res://*/DBContext.StockModel.csdl|res://*/DBContext.StockModel.ssdl|res://*/DBContext.StockModel.msl;provider=System.Data.SqlClient;provider connection string='data source=202.21.38.60,1433;initial catalog=JanaushadhiDemo;user id=Ayuradmin;password=udyata#1kraft9;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient"/>
    <add name="ApprovalEntities" connectionString="metadata=res://*/DBContext.ApprovalModel.csdl|res://*/DBContext.ApprovalModel.ssdl|res://*/DBContext.ApprovalModel.msl;provider=System.Data.SqlClient;provider connection string='data source=202.21.38.60,1433;initial catalog=JanaushadhiDemo;user id=Ayuradmin;password=udyata#1kraft9;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient"/>
    <add name="AssetEntities" connectionString="metadata=res://*/DBContext.AssetModel.csdl|res://*/DBContext.AssetModel.ssdl|res://*/DBContext.AssetModel.msl;provider=System.Data.SqlClient;provider connection string='data source=202.21.38.60,1433;initial catalog=JanaushadhiDemo;user id=Ayuradmin;password=udyata#1kraft9;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient"/>
    <add name="SnopEntities" connectionString="metadata=res://*/DBContext.SnopModel.csdl|res://*/DBContext.SnopModel.ssdl|res://*/DBContext.SnopModel.msl;provider=System.Data.SqlClient;provider connection string='data source=202.21.38.60,1433;initial catalog=JanaushadhiDemo;user id=Ayuradmin;password=udyata#1kraft9;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient"/>
    <add name="MasterEntities" connectionString="metadata=res://*/DBContext.MasterModel.csdl|res://*/DBContext.MasterModel.ssdl|res://*/DBContext.MasterModel.msl;provider=System.Data.SqlClient;provider connection string='data source=202.21.38.60,1433;initial catalog=JanaushadhiDemo;user id=Ayuradmin;password=udyata#1kraft9;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient"/>
    <add name="AyurwareEntities" connectionString="metadata=res://*/DBContext.AyurwareModel.csdl|res://*/DBContext.AyurwareModel.ssdl|res://*/DBContext.AyurwareModel.msl;provider=System.Data.SqlClient;provider connection string='data source=202.21.38.60,1433;initial catalog=JanaushadhiDemo;user id=Ayuradmin;password=udyata#1kraft9;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient"/>
    <add name="AHCMSEntities" connectionString="metadata=res://*/DBContext.AHCMSModel.csdl|res://*/DBContext.AHCMSModel.ssdl|res://*/DBContext.AHCMSModel.msl;provider=System.Data.SqlClient;provider connection string='data source=202.21.38.60,1433;initial catalog=JanaushadhiDemo;user id=Ayuradmin;password=udyata#1kraft9;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient"/>
    <!-- <add name="DefaultConnection" connectionString="Data Source=13.235.254.204,1433; Initial Catalog=AyurwareCutover;User ID=Ayuradmin;Password=4NaaDEJNs;" providerName="System.Data.SqlClient" />
    <add name="AccountsEntities" connectionString="metadata=res://*/DBContext.AccountsModel.csdl|res://*/DBContext.AccountsModel.ssdl|res://*/DBContext.AccountsModel.msl;provider=System.Data.SqlClient;provider connection string='data source=13.235.254.204,1433;initial catalog=AyurwareCutover;user ID=Ayuradmin;password=&quot;4NaaDEJNs&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="PayrollEntities" connectionString="metadata=res://*/DBContext.PayrollModel.csdl|res://*/DBContext.PayrollModel.ssdl|res://*/DBContext.PayrollModel.msl;provider=System.Data.SqlClient;provider connection string='data source=13.235.254.204,1433;initial catalog=AyurwareCutover;user ID=Ayuradmin;password=&quot;4NaaDEJNs&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="ProductionEntities" connectionString="metadata=res://*/DBContext.ProductionModel.csdl|res://*/DBContext.ProductionModel.ssdl|res://*/DBContext.ProductionModel.msl;provider=System.Data.SqlClient;provider connection string='data source=13.235.254.204,1433;initial catalog=AyurwareCutover;user ID=Ayuradmin;password=&quot;4NaaDEJNs&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="PurchaseEntities" connectionString="metadata=res://*/DBContext.PurchaseModel.csdl|res://*/DBContext.PurchaseModel.ssdl|res://*/DBContext.PurchaseModel.msl;provider=System.Data.SqlClient;provider connection string='data source=13.235.254.204,1433;initial catalog=AyurwareCutover;user ID=Ayuradmin;password=&quot;4NaaDEJNs&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="ReportsEntities" connectionString="metadata=res://*/DBContext.ReportsModel.csdl|res://*/DBContext.ReportsModel.ssdl|res://*/DBContext.ReportsModel.msl;provider=System.Data.SqlClient;provider connection string='data source=13.235.254.204,1433;initial catalog=AyurwareCutover;user ID=Ayuradmin;password=&quot;4NaaDEJNs&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="SalesEntities" connectionString="metadata=res://*/DBContext.SalesModel.csdl|res://*/DBContext.SalesModel.ssdl|res://*/DBContext.SalesModel.msl;provider=System.Data.SqlClient;provider connection string='data source=13.235.254.204,1433;initial catalog=AyurwareCutover;user ID=Ayuradmin;password=&quot;4NaaDEJNs&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="StockEntities" connectionString="metadata=res://*/DBContext.StockModel.csdl|res://*/DBContext.StockModel.ssdl|res://*/DBContext.StockModel.msl;provider=System.Data.SqlClient;provider connection string='data source=13.235.254.204,1433;initial catalog=AyurwareCutover;user ID=Ayuradmin;password=&quot;4NaaDEJNs&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="ApprovalEntities" connectionString="metadata=res://*/DBContext.ApprovalModel.csdl|res://*/DBContext.ApprovalModel.ssdl|res://*/DBContext.ApprovalModel.msl;provider=System.Data.SqlClient;provider connection string='data source=13.235.254.204,1433;initial catalog=AyurwareCutover;user ID=Ayuradmin;password=&quot;4NaaDEJNs&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="AssetEntities" connectionString="metadata=res://*/DBContext.AssetModel.csdl|res://*/DBContext.AssetModel.ssdl|res://*/DBContext.AssetModel.msl;provider=System.Data.SqlClient;provider connection string='data source=13.235.254.204,1433;initial catalog=AyurwareCutover;user ID=Ayuradmin;password=&quot;4NaaDEJNs&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="SnopEntities" connectionString="metadata=res://*/DBContext.SnopModel.csdl|res://*/DBContext.SnopModel.ssdl|res://*/DBContext.SnopModel.msl;provider=System.Data.SqlClient;provider connection string='data source=13.235.254.204,1433;initial catalog=AyurwareCutover;user ID=Ayuradmin;password=&quot;4NaaDEJNs&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="MasterEntities" connectionString="metadata=res://*/DBContext.MasterModel.csdl|res://*/DBContext.MasterModel.ssdl|res://*/DBContext.MasterModel.msl;provider=System.Data.SqlClient;provider connection string='data source=13.235.254.204,1433;initial catalog=AyurwareCutover;user ID=Ayuradmin;password=&quot;4NaaDEJNs&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="AyurwareEntities" connectionString="metadata=res://*/DBContext.AyurwareModel.csdl|res://*/DBContext.AyurwareModel.ssdl|res://*/DBContext.AyurwareModel.msl;provider=System.Data.SqlClient;provider connection string='data source=13.235.254.204,1433;initial catalog=AyurwareCutover;user ID=Ayuradmin;password=&quot;4NaaDEJNs&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>