@model  TradeSuiteApp.Web.Models.DashBoardModel
<div class="md-card" data-uk-grid-margin="">
    <div class="md-card-content uk-row-first">
        <div class="heading_a uk-margin-bottom">Category Wise Sales - @DateTime.Now.ToString("MMMM")</div>
        <div class="Category-Wise">
            <div class="uk-width-1-1">
                <ul class="uk-tab" data-uk-tab="{connect:'#category-wise-sales'}" id="sales-category-tab">
                    <li class="uk-active" id="tky-sales-tab"><a>VOS TKY</a></li>
                    <li id="pol-sales-tab"><a>VOS POL</a></li>
                    <li id="chu-sales-tab"><a>VOS CHU</a></li>
                </ul>
                <ul id="category-wise-sales" class="uk-switcher uk-margin">
                    <li aria-hidden="false" class="uk-active">
                        <div>
                            <table id="Category-Wise-Sales_Table-Tky" class="uk-table">
                                <thead>
                                    <tr>
                                        <td>Sales Category</td>
                                        <td class="width-80">Actual In Kg</td>
                                        <td class="width-80">Actual In Lakhs</td>
                                        <td class="width-80">Budget In Kg</td>
                                        <td class="width-80">Budget In Lakhs</td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </li>
                    <li aria-hidden="true" class="">
                        <div>
                            <table id="Category-Wise-Sales_Table-Pol" class="uk-table">
                                <thead>
                                    <tr>
                                        <td>Sales Category</td>
                                        <td class="width-80">Actual In Kg</td>
                                        <td class="width-80">Actual In Lakhs</td>
                                        <td class="width-80">Budget In Kg</td>
                                        <td class="width-80">Budget In Lakhs</td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </li>
                    <li aria-hidden="true" class="">
                        <div>
                            <table id="Category-Wise-Sales_Table-Chu" class="uk-table">
                                <thead>
                                    <tr>
                                        <td>Sales Category</td>
                                        <td class="width-80">Actual In Kg</td>
                                        <td class="width-80">Actual In Lakhs</td>
                                        <td class="width-80">Budget In Kg</td>
                                        <td class="width-80">Budget In Lakhs</td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
