@inherits System.Web.Mvc.WebViewPage
<div class="md-card">
    <div class="md-card-content statistics">
        <div class="heading_a uk-margin-bottom">Sales In Value
            <span class="budget"></span><span class="text">Budget</span>
            <span class="actual-to-date"></span><span class="text">Actuals To Date</span>
        </div>
       
        <div class="uk-width-1-1">
            <ul class="uk-tab" data-uk-tab="{connect:'#sales-in-values'}">
                <li class="uk-active"><a class="sales-value-month-tab">@DateTime.Now.ToString("MMMM")</a></li>
                <li><a class="sales-value-year-tab">@DateTime.Now.ToString("yyyy")</a></li>
            </ul>
            <ul id="sales-in-values" class="uk-switcher uk-margin">
                <li aria-hidden="false" class="uk-active">
                    <div id="ct-chart-value" class="chartist">
                    </div>
                    </li>
                <li aria-hidden="false" class="">
                    <div id="ct-chart-value-year" class="chartist">
                    </div>
                </li>
</ul>
        </div>
    </div>
</div>
