
@model TradeSuiteApp.Web.Areas.User.Models.DashboardModel
    <div class="md-card">
        <div class="md-card-content statistics">
            <div class="heading_a uk-margin-bottom">
                Production {In Kgs}
                <span class="actual-py"></span><span class="text">@Masters.VOSTKY</span>
                <span class="budget"></span><span class="text">@Masters.VOSPOL</span>
                <span class="actual-to-date"></span><span class="text">@Masters.VOSCHU</span>
               
            </div>
            <br />
            <br />
            <div class="uk-width-1-1">
                <div id="ct-chart-month-wise-production" class="chartist">

                </div>
            </div>
        </div>
    </div>

