<div class="md-card">
    <div class="md-card-content statistics">
        <h3 class="heading_a uk-margin-bottom">Sales</h3>
        <div class="mGraph-wrapper">
            <div id="mGraph_sale" class="mGraph ng-isolate-scope" metrics-graphics="" data="sale_chart_data" options="sale_chart_options">
            </div>
        </div>
    </div>
</div>