
@model TradeSuiteApp.Web.Areas.AHCMS.Models.PatientDiagnosisModel



<tr>
    @if (!Model.IsCompleted)
    {
        <td class="width-50">@Html.TextBoxFor(model => model.Others, "", new { @class = "md-input label-fixed" }) </td>
    }
    else
    {
        <td class="width-50">@Html.TextBoxFor(model => model.Others, "", new { @class = "md-input label-fixed" }) </td>
    }

</tr>


