
@using ReportViewerForMvc;
@{
    ViewBag.ReportTitle = "GRN Local Supplier Print";
}
<div class="uk-form-row">
    <div class="uk-grid" data-uk-grid-margin>
        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
    </div>
</div>