<input type="button" id="show-qrcode" data-uk-modal="{target:'#show-qr-code', center:false}" />
<div class="uk-modal" id="show-qr-code" aria-hidden="true" style="display: none; overflow-y: scroll;">
    <div class="uk-modal-dialog" style="">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">QR Code<i class="material-icons"></i></h3>
        </div>
        <br />
        <div class="uk-modal-content">
            <div class="uk-form-row">
                <div class="uk-grid uk-margin-small-top" data-uk-grid-margin="">
                   <div id ="qrcode">
                       
                   </div>
                </div>
            </div>
        </div>
        <br />
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn  uk-modal-close qrcodeClose">@Common.Close</button>
            <button type="button" class="md-btn  uk-modal-close printqrcodeClose uk-hidden">@Common.Close</button>
            <button type="button" class="md-btn md-btn-primary" id="btnQRCodeSave">Save</button>
            <button type="button" class="md-btn md-btn-primary" id="btnPrintQRCode">Print</button>
        </div>
    </div>
</div>
