
@model TradeSuiteApp.Web.Areas.AHCMS.Models.PatientDiagnosisModel



<tr>
    <td class="width-50">@Html.TextBoxFor(model => model.RR, "", new { @class = "md-input label-fixed" })</td>
    <td class="width-50">@Html.TextBoxFor(model => model.Height, "", new { @class = "md-input label-fixed" }) </td>
    <td class="width-50">@Html.TextBoxFor(model => model.Weight, "", new { @class = "md-input label-fixed" }) </td>
    <td class="width-50">@Html.TextBoxFor(model => model.Others, "", new { @class = "md-input label-fixed" }) </td>
</tr>


